<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initail-scale=1.0"/>
		<title>管理后台</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<link rel="stylesheet" href="../../static/css/me.css" th:href=@{/css/me.css}/>
		<link rel="stylesheet" href="../static/libs/editormd/css/editormd.css" th:href=@{/css/editormd.css}/>
	</head>
	<body>
		<!-- 导航 -->
		<nav class="ui inverted attached segment m-padding-tb-mini">
			<div class="ui container">
				<div class="ui inverted secondary stackable menu">
					<h2 class="ui teal header item">管理后台</h2>
					<a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
					<a href="#" class="active m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
					<a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
					<div class="right menu">
						<div class="ui m-item m-mobile-hide dropdown item">
							<div class="text">
								<img src="https://picsum.photos/id/1074/100/100" class="ui avatar image">
								ocean
							</div>
							<i class="dropdown icon"></i>
							<div class="menu">
								<a href="#" class="item">退出登陆</a>
							</div>
						</div>
					</div>
				
					
				</div>
			</div>
			<a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
				<i class="sidebar icon"></i>
			</a>
		</nav>
		<div class="ui attached pointing menu">
			<div class="ui container">
				<div class="right menu">
					<a href="#" th:href="@{/admin/tags/input}" class="active item">新增</a>
					<a href="#" th:href="@{/admin/tags}" class=" teal item">列表</a>
				</div>
				
			</div>
			
		</div>
		<!-- 中间内容 -->
		<div class="m-padding-tb-big m-container-small">
			<div class="ui container">
				<form action="#" method="post" th:object="${tag}" th:action="*{id}==null ? @{/admin/tags} : @{/admin/tags/{id}(id=*{id})}"   class="ui form">
					<input type="hidden" name="id" th:value="*{id}">
					<div class=" required field">
						<div class="ui left labeled input">
							<label class="ui teal basic label">分类</label>
							<input type="text" name="name" placeholder="分类名称" th:value="*{name}"/>
						</div>
					</div>
					<!-- 表单验证-错误信息 -->
					<div class="ui error message"></div>

					<!--/*/
					<div class="ui negative message" th:if="${#fields.hasErrors('name')}">
						<i class="close icon"></i>
						<div class="header">验证失败</div>
						<p th:errors="*{name}">提交信息不符合规则</p>
					</div>
					/*/-->


					
					<div class="ui right aligned container">
						<button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
						<button class="ui blue submit button">提交</button>
					</div>
				</form>
			</div>
			
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

			
		
		<!-- 底部footer -->
		<footer class="ui inverted vertical segment m-padding-tb-massive">
			
			<div class="ui center aligned container">
				<div class="ui inverted divided stackable grid">
					<!-- 二维码 -->
					<div class="three wide column">
						<img th:src="@{/images/ocean.png}" class="ui centered rounded image" style="width: 120px;" >
					</div>
					<!-- 底部文字1 -->
					<div class="three wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">用户故事(User Story)</a>
							<a href="#" class="item">用户故事(User Story)</a>
							<a href="#" class="item">用户故事(User Story)</a>
							<a href="#" class="item">用户故事(User Story)</a>
						</div>
						
					</div>
					<!-- 底部文字2 -->
					<div class="three wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">联系我们</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">E-mail:g15761056@163.com</a>
							<a href="#" class="item">QQ:1576100056</a>
						</div>
					</div>
					
					<div class="seven wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">OCEAN</h4>
						<p class="m-text-thin m-text-spaced m-opacity-mini">这个是我的个人博客，用来分享平时学习工作的中发现的问题，会发布有关编程的帖子</p>
					</div>
				</div>
				<div class="ui inverted section divider">
					<p class="m-text-thin m-text-spaced m-opacity-tiny" style="padding-top: 50px;">© Copyright OCEAN. All Rights Reserved</p>
				</div>
			</div>
		</footer>
		<script src="https://cdn.jsdelivr.net/gh/jquery/jquery@3.2/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
		<script>
			$('.menu.toggle').click(function(){
				$('.m-item').toggle('m-mobile-hide');
			});
			$('.ui.dropdown').dropdown({
				on : 'hover'
			});
			// 表单验证
			$('.ui.form').form({
				fields:{
					title:{
						identifier:'name',
						rules:[{
							type:'empty',
							prompt:'请输入分类名称'
						}]
					}
				}
			});
			
		</script>
		
		
	</body>

</html>
 