<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initail-scale=1.0"/>
    <title>错误</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css"/>

</head>
<body>
<nav th:fragment="menu(0)" class="ui inverted attached segment m-padding-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">OCEAN</h2>
            <a href="#" class="active m-item item m-mobile-hide" th:classappend="${n==1} ? 'active'"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide" th:classappend="${n==2} ? 'active'"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide" th:classappend="${n==3} ? 'active'"><i class="tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide" th:classappend="${n==4} ? 'active'"><i class="clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide" th:classappend="${n==5} ? 'active'"><i class="hand peace icon"></i>关于我</a>
            <!-- 搜索框 -->
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted tansparent input">
                    <input type="text" placeholder="搜索"/>
                    <i class="search link icon"></i>
                </div>
            </div>

        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="m-container-small m-padding-tb-massive">
    <div class="ui error message m-padding-tb-huge">
        <div class="ui m-container">
            <h2>博客找不到了</h2>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<!--    在网页源代码中显示错误信息-->
    <div>
<!--        去除标签-->
        <div th:utext="'&lt;!--'" th:remove="tag"></div>
        <div th:utext="'Failed Request URL:'+${url}" th:remove="tag"></div>
        <div th:utext="'Exception Message :'+${exception.message}" th:remove="tag"></div>
        <ul th:remove="tag">
<!--            将栈中所有信息循环遍历-->
            <li th:each = "st:${exception.stackTrace}" th:remove="tag">
                <span th:utext="${st}" th:remove="tag"></span>
            </li>
        </ul>
        <div th:utext="'--&gt;'" th:remove="tag"></div>
    </div>

</body>
</html>